@import '~@angular/material/theming';

@include mat-core();


$travel-agency-primary: mat-palette($mat-grey, 50);
$travel-agency-accent:  mat-palette($mat-light-blue, 900);

$travel-agency-warn:    mat-palette($mat-pink, 600);

$travel-agency-theme: mat-light-theme($travel-agency-primary, $travel-agency-accent, $travel-agency-warn);

@include angular-material-theme($travel-agency-theme);

.navtabs-container {
    background-color: mat-color($travel-agency-accent);
}
